<footer>
    <nav>
        <ul>
            <li class="<%= currentPage === 'settings' ? 'active' : '' %>">
                <svg width="43" height="22" viewBox="0 0 43 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29.0975 13.4763L38.1392 4.61914M19.2295 7.42866L25.4031 13.4763L18.8406 7.04771M5.22949 16.8572L15.2434 7.04771" stroke="" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M39.6455 5.28571C40.8536 5.28571 41.833 4.32632 41.833 3.14286C41.833 1.95939 40.8536 1 39.6455 1C38.4374 1 37.458 1.95939 37.458 3.14286C37.458 4.32632 38.4374 5.28571 39.6455 5.28571Z" stroke="" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M27.25 17.4285C28.4581 17.4285 29.4375 16.4691 29.4375 15.2857C29.4375 14.1022 28.4581 13.1428 27.25 13.1428C26.0419 13.1428 25.0625 14.1022 25.0625 15.2857C25.0625 16.4691 26.0419 17.4285 27.25 17.4285Z" stroke="" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.042 7.42854C18.2501 7.42854 19.2295 6.46915 19.2295 5.28568C19.2295 4.10221 18.2501 3.14282 17.042 3.14282C15.8339 3.14282 14.8545 4.10221 14.8545 5.28568C14.8545 6.46915 15.8339 7.42854 17.042 7.42854Z" stroke="" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3.1875 21.0001C4.39562 21.0001 5.375 20.0407 5.375 18.8572C5.375 17.6737 4.39562 16.7144 3.1875 16.7144C1.97938 16.7144 1 17.6737 1 18.8572C1 20.0407 1.97938 21.0001 3.1875 21.0001Z" stroke="" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="/settings">Gegevens</a>
            </li>
            <li class="<%= currentPage === 'home' ? 'active' : '' %>">
                <svg width="34" height="28" viewBox="0 0 34 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="390" height="844" transform="translate(-49 -779)" fill="white"/>
                    <path d="M7.30762 11.884V23.2307C7.30762 23.4347 7.38866 23.6304 7.53293 23.7746C7.67719 23.9189 7.87286 23.9999 8.07688 23.9999H12.6925V17.4612C12.6925 17.1552 12.814 16.8617 13.0304 16.6453C13.2468 16.4289 13.5403 16.3073 13.8464 16.3073H17.6927C17.9987 16.3073 18.2922 16.4289 18.5086 16.6453C18.725 16.8617 18.8466 17.1552 18.8466 17.4612V23.9999H23.4621C23.6662 23.9999 23.8618 23.9189 24.0061 23.7746C24.1504 23.6304 24.2314 23.4347 24.2314 23.2307V11.884" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.5394 13.9996L16.2933 4.19148C16.0529 3.93762 15.4908 3.93473 15.2461 4.19148L5 13.9996M22.6931 10.2975V4.76842H20.3853V8.08587" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                    
                <a href="/">Home</a>
            </li>
            <li class="<%= currentPage === 'statistics' ? 'active' : '' %>">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.38715 15.1428H1.47743C1.21375 15.1428 1 15.3187 1 15.5357V22.6071C1 22.8241 1.21375 23 1.47743 23H3.38715C3.65083 23 3.86458 22.8241 3.86458 22.6071V15.5357C3.86458 15.3187 3.65083 15.1428 3.38715 15.1428Z" stroke="" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.7563 10.4286H14.8466C14.5829 10.4286 14.3691 10.6045 14.3691 10.8214V22.6072C14.3691 22.8241 14.5829 23 14.8466 23H16.7563C17.02 23 17.2337 22.8241 17.2337 22.6072V10.8214C17.2337 10.6045 17.02 10.4286 16.7563 10.4286Z" stroke="" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M23.4389 4.92859H21.5292C21.2655 4.92859 21.0518 5.10448 21.0518 5.32145V22.6072C21.0518 22.8241 21.2655 23 21.5292 23H23.4389C23.7026 23 23.9163 22.8241 23.9163 22.6072V5.32145C23.9163 5.10448 23.7026 4.92859 23.4389 4.92859Z" stroke="" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.0707 1H8.16102C7.89735 1 7.68359 1.17589 7.68359 1.39286V22.6071C7.68359 22.8241 7.89735 23 8.16102 23H10.0707C10.3344 23 10.5482 22.8241 10.5482 22.6071V1.39286C10.5482 1.17589 10.3344 1 10.0707 1Z" stroke="" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="/statistics">Statistieken</a>
            </li>
        </ul>
    </nav>
</footer>