<header>
    <h1>Rainton</h1>
    <img src="./images/Hamburger_icon.svg.png" alt="Hamburger Menu" id="hamburger">
    <nav class="hidden">
        <ul>
            <li id="cross">X</li>
            <li>Menu</li>
            <li><a href="/">Home</a></li>
            <li><a href="/settings">Gegevens</a></li>
        </ul>
        <form action="">
            <p>Log-In</p>
            <input type="text" placeholder="Gebruikersnaam">
            <input type="password" name="password" id="password" placeholder="Wachtwoord">
            <button>Log In</button>
            <a href="">nog geen account? Registreer hier.</a>
        </form>
    </nav>
</header>