<form action="">
    <p>Log-In</p>
    <input type="text" placeholder="Gebruikersnaam">
    <input type="password" name="password" id="password" placeholder="Wachtwoord">
    <button>Log In</button>
    <a href="">nog geen account? Registreer hier.</a>
</form>