<%- include('partials/head.ejs') -%>
<body>
    <%- include('partials/header.ejs') -%>
    <main id="rainton">
        <section>
            <svg width="271" height="387" viewBox="0 0 271 387" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="131.432" cy="359.806" rx="127.13" ry="26.4615" fill="#544F4F"/>
                <ellipse cx="131.432" cy="359.806" rx="127.13" ry="26.4615" fill="#544F4F"/>
                <ellipse cx="131.432" cy="359.806" rx="127.13" ry="26.4615" fill="#544F4F"/>
                <path d="M13.5049 78.5036L29.2268 17.2988C124.979 35.6105 212.819 23.9335 244.77 15.806C248.015 16.6022 257.618 55.9458 262.013 75.518C137.86 111.743 44.6107 92.6023 13.5049 78.5036Z" fill="#9D8564" stroke="black"/>
                <ellipse cx="72.1799" cy="365.558" rx="2.301" ry="1.1505" fill="black"/>
                <path d="M50.3213 15.8311C67.3078 8.86663 127.215 -0.883574 230.95 15.8311C203.368 24.4941 128.627 36.6224 50.3213 15.8311Z" fill="#FDDC98" stroke="black" stroke-width="0.6"/>
                <path d="M28.4609 18.3042C119.291 40.8673 211.27 27.7055 245.906 18.3042L242.358 8.90295C173.019 35.2265 72.896 19.8711 31.5021 8.90295L28.4609 18.3042Z" fill="#5B3327" stroke="black" stroke-width="0.6"/>
                <path d="M56.7561 14.6555C74.5011 9.21266 221.531 14.6555 223.559 14.6555L241.304 9.21267C121.247 -3.85017 51.6861 3.76982 31.9131 9.21267L56.7561 14.6555Z" fill="#FFE3A2" stroke="black" stroke-width="0.6"/>
                <ellipse cx="197.585" cy="367.284" rx="1.1505" ry="1.72575" fill="black"/>
                <ellipse cx="132.007" cy="375.338" rx="1.1505" ry="1.72575" fill="black"/>
                <ellipse cx="75.6329" cy="368.434" rx="1.1505" ry="1.72575" fill="black"/>
                <path d="M256.261 275.819C150.347 303.049 49.526 289.915 12.3545 279.945C12.3545 301.398 26.6121 335.985 33.7408 350.597C88.3269 390.203 188.198 369.85 231.31 354.722L256.261 275.819Z" fill="#58B7DA"/>
                <path d="M233.251 349.451C152.973 386.748 66.3435 364.991 33.0635 349.451L36.6111 359.928C117.294 395.129 198.619 374.595 229.196 359.928L233.251 349.451Z" fill="#5D2E23" stroke="black" stroke-width="0.6"/>
                <path d="M4.89247 179.692C2.05459 258.727 10.129 277.8 14.521 277.457C137.766 314.093 227.362 289.634 256.755 272.826C263.241 261.711 267.566 205.762 268.917 179.177L266.383 179.692C167.463 206.86 50.8391 191.012 4.89247 179.692Z" fill="#58B7DA"/>
                <path d="M2.45946 177.203C0.0216947 157.853 7.87671 103.968 12.1089 79.4448C97.0243 110.889 213.732 91.5386 261.472 77.9331C269.191 108.974 269.428 155.703 268.582 175.187C156.445 212.678 44.4432 192.152 2.45946 177.203Z" fill="#58B7DA"/>
                <path d="M3.15039 181.616V171.124C125.389 207.496 230.493 186.279 267.766 171.124V181.616C141.479 216.789 38.736 196.271 3.15039 181.616Z" fill="#6D4231" stroke="black" stroke-width="0.6"/>
                <path d="M256.03 277.152L258.562 265.465C157.686 307.743 50.0911 285.113 8.90332 268.514L11.4354 281.217C140.265 314.959 228.178 292.566 256.03 277.152Z" fill="#6D4231" stroke="black" stroke-width="0.6"/>
                <circle cx="129.705" cy="294.227" r="1.1505" fill="black"/>
                <ellipse cx="209.091" cy="286.749" rx="1.1505" ry="1.72575" fill="black"/>
                <circle cx="46.8693" cy="285.023" r="1.1505" fill="#131313"/>
                <ellipse cx="57.8" cy="190.682" rx="1.72575" ry="2.301" fill="#131313"/>
                <ellipse cx="209.091" cy="190.682" rx="1.1505" ry="2.301" fill="#131313"/>
                <ellipse cx="129.705" cy="197.01" rx="1.1505" ry="1.72575" fill="#131313"/>
                <path d="M260.63 72.1807C155.24 107.101 52.5515 89.0721 14.3812 75.6928L12.3545 85.2256C93.8295 116.935 213.509 96.7653 263.164 82.7169L260.63 72.1807Z" fill="#77462F" stroke="black" stroke-width="0.6"/>
                <ellipse cx="72.1799" cy="94.04" rx="2.301" ry="1.1505" fill="black"/>
                <circle cx="130.856" cy="96.3412" r="1.1505" fill="black"/>
                <ellipse cx="199.886" cy="91.1637" rx="1.1505" ry="1.72575" fill="black"/>
                <path d="M35.6659 358.32C-22.7738 232.417 7.93408 73.0825 30.593 9.1529C63.4653 -3.80169 185.316 3.75515 242.132 9.1529C296.514 153.678 255.66 302.149 228.436 358.32C146.458 394.35 65.765 373.332 35.6659 358.32Z" stroke="#5B3327" stroke-width="3"/>
                <path d="M4.8899 179.687C2.06436 257.947 10.1037 276.833 14.4766 276.493C137.186 312.77 226.392 288.551 255.657 271.907C262.115 260.902 266.421 205.502 267.766 179.177L265.244 179.687C166.753 206.589 50.6368 190.896 4.8899 179.687Z" fill="#9D8564"/>
                <path d="M4.75725 181.805C2.34051 162.455 10.1278 108.57 14.3235 84.0468C98.5069 115.491 214.209 96.1405 261.537 82.535C269.19 113.576 269.425 160.305 268.586 179.789C157.415 217.28 46.379 196.754 4.75725 181.805Z" fill="#9D8564"/>
                <path d="M14.6553 80.5497L30.2316 18.4705C125.097 37.0438 212.123 25.2 243.779 16.9564C246.994 17.764 256.508 57.6696 260.862 77.5214C137.859 114.264 45.473 94.8498 14.6553 80.5497Z" fill="#9D8564" stroke="black"/>
                <ellipse cx="72.756" cy="365.558" rx="1.72575" ry="2.301" fill="black"/>
                <path d="M50.3213 18.132C67.3078 11.1675 127.215 1.41733 230.95 18.132C203.368 26.795 128.627 38.9233 50.3213 18.132Z" fill="#FDDC98" stroke="black" stroke-width="0.6"/>
                <path d="M4.30176 182.766V172.274C125.478 208.647 229.668 187.429 266.616 172.274V182.766C141.427 217.939 39.5779 197.422 4.30176 182.766Z" fill="#6D4231" stroke="black" stroke-width="0.6"/>
                <path d="M57.6335 16.9564C75.1835 11.5136 220.598 16.9564 222.604 16.9564L240.154 11.5136C121.415 -1.54927 52.6192 6.07072 33.0635 11.5136L57.6335 16.9564Z" fill="#FFE3A2" stroke="black" stroke-width="0.6"/>
                <path d="M232.1 349.451C152.745 386.748 67.1114 364.991 34.2139 349.451L37.7207 359.928C117.476 395.129 197.867 374.595 228.092 359.928L232.1 349.451Z" fill="#5D2E23" stroke="black" stroke-width="0.6"/>
                <ellipse cx="129.13" cy="197.585" rx="1.72575" ry="1.1505" fill="#131313"/>
                <ellipse cx="208.515" cy="191.833" rx="1.72575" ry="1.1505" fill="#131313"/>
                <ellipse cx="58.3752" cy="191.833" rx="2.301" ry="1.1505" fill="#131313"/>
                <path d="M259.491 74.4814C154.584 109.402 52.3671 91.3729 14.3719 77.9935L12.3545 87.5264C93.4557 119.236 212.586 99.0661 262.013 85.0177L259.491 74.4814Z" fill="#77462F" stroke="black" stroke-width="0.6"/>
                <path d="M29.6113 20.6053C119.48 43.1683 210.486 30.0065 244.755 20.6053L241.244 11.204C172.639 37.5276 73.5762 22.1721 32.6203 11.204L29.6113 20.6053Z" fill="#5B3327" stroke="black" stroke-width="0.6"/>
                <path d="M255.11 276.97C168.663 309.147 57.2534 292.723 12.3545 280.489C12.3545 289.338 26.4273 331.771 33.4637 351.881C106.642 391.298 194.631 370.986 229.478 355.904C240.736 334.989 251.257 294.566 255.11 276.97Z" fill="#9D8564" stroke="#916014"/>
                <path d="M254.903 278.303L257.411 266.615C157.465 308.893 50.8619 286.264 10.0537 269.664L12.5624 282.368C140.205 316.109 227.307 293.717 254.903 278.303Z" fill="#6D4231" stroke="black" stroke-width="0.6"/>
                <path d="M36.526 358.441C-21.4098 233.309 9.03331 74.9486 31.4969 11.4101C64.0858 -1.46531 184.886 6.04532 241.213 11.4101C295.125 155.051 254.624 302.615 227.634 358.441C146.363 394.251 66.3657 373.362 36.526 358.441Z" stroke="#5B3327" stroke-width="3"/>
                <ellipse cx="130.28" cy="97.4916" rx="1.72575" ry="1.1505" fill="black"/>
                <circle cx="72.756" cy="94.6153" r="1.72575" fill="black"/>
                <circle cx="198.735" cy="92.8896" r="1.1505" fill="black"/>
                <circle cx="129.13" cy="294.802" r="1.72575" fill="black"/>
                <circle cx="208.515" cy="286.749" r="1.72575" fill="black"/>
                <ellipse cx="46.8693" cy="284.448" rx="1.1505" ry="1.72575" fill="#131313"/>
                </svg>
                
                
            <ul>
                <li>200 L</li>
                <li>160 L</li>
                <li>120 L</li>
                <li>80 L</li>
                <li>40 L</li>
                <li>0 L</li>
            </ul>
        </section>
        <section>
            <h3>Legenda</h3>
            <ul>
                <li>Regenton</li>
                <li>Hoeveelheid water</li>
                <li id="empty"><a href="/empty">Leeg Rainton</a></li>
            </ul>
        </section>
        <section class="popup none" id="popup-1">
            <h3>Let op!</h3>
            <p>Je regenton begint vol te raken. Leeg de ton voordat er water wordt verspilt. Als je hem geleegd hebt, klik dan op de ‘Regenton Legen’ knop.</p>
            <button>Oke</button>
        </section>
        <section class="popup none" id="popup-2">
            <h3>Rainton legen!</h3>
            <p>Je staat op het punt je Rainton te legen! Doe dit pas als de ton echt geleegd is!</p>
            <div class="around">
                <button>Wacht</button>
                <button>Leeg nu!</button>
            </div>
        </section>
        <section class="popup" id="popup-3">
            <h3>Let op!</h3>
            <p>Je regenton is al leeg! Wacht totdat je regenton gevuld is voor je deze gaat legen!</p>
            <button>Oke</button>
        </section>
    </main>
    <script src="scripts/script.js"></script>
</body>
</html>