<%- include('partials/head.ejs') -%>
<body>
    <main id="offline">
        <section class="offline">
            <img src="./images/no-wifi.png" alt="">
            <p>Je bent offline!</p>
        </section>
    </main>
    <script src="scripts/script.js"></script>
</body>
<%- include('partials/footer.ejs') -%>
</html>