<%- include('partials/head.ejs') -%>
<body>
    <main class="savedMain">
        <p class="saved">Gegevens opgeslagen</p>
        <section>
            <%- include('partials/settingForm.ejs') -%>
        </section>
    </main>
    <script src="scripts/script.js"></script>
</body>
<%- include('partials/footer.ejs') -%>
</html>