<%- include('partials/head.ejs') -%>
<body>
    <%- include('partials/header.ejs') -%>
    <main class="savedMain">
        <section>
            <%- include('partials/settingForm.ejs') -%>
        </section>
    </main>
    <script src="scripts/script.js"></script>
</body>
</html>