<%- include('partials/head.ejs') -%>
<body>
    <main>
        <section>
            <form class="onboarding" action="/firstInfo" method="POST">
                <fieldset id="fieldset1">
                    <div class="heading-text">
                        <h1>bRAIN</h1>
                        <img src="./images/onboarding-image-1.jpg">
                    </div>
                    <div class="text-button-progress">
                        <h2>Welkom</h2>
                        <label for="volgende">Welkom bij bRAIN! Dit is een app waarin je makkelijk kan zien wanneer je regenton vol raakt. De app geeft je een tijdige waarschuwing wanneer dit gebeurt.</label>
                        <button class="volgende-button" id="fieldset1-volgende-button">Volgende</button>
                        <div class="progress">
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="fieldset2">
                    <div class="heading-text">
                        <h1>bRAIN</h1>
                        <img src="./images/onboarding-image-2.jpg">
                    </div>
                    <div class="text-button-progress">
                        <h2>Hoe werkt de app?</h2>
                        <label for="hoe">De app werkt simpel. Aan de hand van weersvoorspelling geeft de app aan wanneer je regenton vol begint te raken. Zo kan je zien wanneer je je regenton kan legen. Dit zorgt ervoor dat je zelf het water kan gebruiken, in plaats van dat het water weg gevoerd wordt, waardoor er veel schoon water wordt bespaart.</label>
                        <div class="buttons">
                            <button class="terug-button" id="fieldset2-terug-button">Terug</button>
                            <button class="volgende-button" id="fieldset2-volgende-button">Volgende</button>
                        </div>
                        <div class="progress">
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="fieldset3">
                    <div class="heading-text">
                        <h1>bRAIN</h1>
                        <p>Om uit te rekenen hoeveel water er per dag ongeveer in jou regenton terecht komt, hebben we wat informatie van je nodig.</p>
                    </div>
                    <div class="text-label">
                        <label for="boardingDak">Hoe groot is je dak in m²?</label>
                        <input type="number" id="boardingDak" name="boardingDak" required>
                        <span class="error-message"></span>
                    </div>
                    <div class="button-progress">
                        <div class="buttons">
                            <button class="terug-button" id="fieldset3-terug-button">Terug</button>
                            <button class="volgende-button" id="fieldset3-volgende-button">Volgende</button>
                        </div>
                        <div class="progress">
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="fieldset4">
                    <div class="heading-text">
                        <h1>bRAIN</h1>
                        <p>Om uit te rekenen hoeveel water er per dag ongeveer in jou regenton terecht komt, hebben we wat informatie van je nodig.</p>
                    </div>
                    <div class="text-label">
                        <label for="boardingPijpen">Hoeveel regenpijpen bezit je?</label>
                        <input type="number" id="boardingPijpen" name="boardingPijpen" required>
                    </div>
                    <div class="button-progress">
                        <div class="buttons">
                            <button class="terug-button" id="fieldset4-terug-button">Terug</button>
                            <button class="volgende-button" id="fieldset4-volgende-button">Volgende</button>
                        </div>
                        <div class="progress">
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="fieldset5">
                    <div class="heading-text">
                        <h1>bRAIN</h1>
                        <p>Om uit te rekenen hoeveel water er per dag ongeveer in jou regenton terecht komt, hebben we wat informatie van je nodig.</p>
                    </div>
                    <div class="text-label">
                        <label for="boardingTonnen">Hoeveel tonnen zijn op deze regenpijnpen aangesloten?</label>
                        <input type="number" id="boardingTonnen" name="boardingTonnen" required>
                        <span class="error-message"></span>
                    </div>
                    <div class="button-progress">
                        <div class="buttons">
                            <button class="terug-button" id="fieldset5-terug-button">Terug</button>
                            <button class="rondaf-button" id="rondaf-button">Rond Af</button>
                        </div>
                        <div class="progress">
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                            <div class="stap"></div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>
    </main>
    <script src="scripts/script.js"></script>
</body>
</html>