*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1em 0;
    max-width: 100%;
    align-items:center;
    z-index: 2;
    background-color: #fff;
    padding: 1em;
}

header img {
    width: 50px;
}

/* NAV HAMBURGER */

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    background-color: #000;
    right: 0;
    top: 0;
    padding: 1em;
    justify-content: space-between; 
    transition: 1s;
    z-index: 5;
}

nav ul {
    color: #fff;
}

nav ul li:first-child {
    text-align: right;
}

nav ul li:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}

nav ul a {
    color: #fff;
}

nav form {
    display: flex;
    flex-direction: column;
    color: #fff;
}

nav form p {
    padding-bottom: 1em;
}

nav form input {
    padding: 1em;
    margin: .5em 0;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #000;
}

nav form button {
    padding: 1em;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    margin: .5em 0;
}

nav form a {
    color: #fff;
}

/* MAIN */

main {
    padding: 1em;
}

.savedMain {
    padding-top: 0;
}

#rainton section:first-child {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.outergraph {
    width: 70%;
    height: 70vh;
    background: #ccc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

#rain-amount {
    background-color: #3498DB;
    /* border-radius: 20px; */
    width: 100%;
    transition: 1s;
}

.innergraph {
    height: calc(70vh / 200 * 180);
}

#rainton section:nth-child(2) {
    margin-top: 1em;
}

#rainton section:nth-child(2) button {
    background-color: #ba131a;
    border:none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
}

#rainton section:first-child ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

#rainton section:nth-child(2) ul {
    display: flex;

}

#rainton section:nth-child(2) ul li {
    padding: .5em;
    text-align: center;
    background-color: #ccc;
    margin: .5em;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#rainton section:nth-child(2) ul li a {
    color: #fff;
    text-decoration: none;
}

#rainton section:nth-child(2) ul li:nth-child(1) {
    margin-left: 0;
}

#rainton section:nth-child(2) ul li:nth-child(2) {
    background-color: #3498DB;
    color: #fff;
}

#rainton  section:nth-child(2) ul li:nth-child(3) {
    background-color: #ba131a;
    color: #fff;
    margin-right: 0;
}

.saved {
    background-color: green;
    color: #fff;
    width: 100%;
    padding: .5em 1em;
    position: fixed;
    left: 0;
    z-index: -10;
    animation: goUp 1s forwards;
    animation-delay: 3s;
}

.settings {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
}

.formLabel {
    display: flex;
    flex-direction: column;
    margin: 1em .5em;
    align-items: stretch;
    position: relative;
}

.formLabel span {
    position: absolute;
    bottom: 31px;
    left: 55px;
    font-weight: bold;
}

.formLabel:first-of-type {
    margin-top: 3em;
}

.formLabel img {
    width: 100px;
}

.formLabel label {
    margin-bottom: 5px;
    font-size: 22px;
}

.formLabel input {
    outline: none;
    border: none;
    padding: 1em;
    font-size: 20px;
    background-color: #e9e9e9;
    margin: .5em 0;
    width: 100%;
    font-weight: bold;
}


.settings button {
    padding: 1em;
    outline: none;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    background-color: #3498DB;
    width: calc(100% - 2em);
    position: absolute;
    bottom: 1em;
}

.popup { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    width: 70vw;
    text-align: center;
    background: rgba(220, 220, 220, .7);
    border-radius: 10px;
}

.popup h3 {
    color: #ba131a;
}

.popup p {
    margin: 1em 0;
}

.popup button {
    width: 50%;
    padding: 1em;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

.popup .around {
    display: flex;
    justify-content: space-between;
}

.around button {
    width: 45%;
}

.around button:nth-child(2) {
    background-color: #ba131a;
    color: #fff;
}

ul {
    list-style-type: none;
}

.hidden {
    right: -70vw;
}

.none {
    display: none;
}

@keyframes goUp {
    form {
    }
    to {
        margin-top: -100px;
    }
}

fieldset {
    position: relative;
    border: none;
    height: 100vh;
}

fieldset .text-button-progress {
    position: absolute;
    bottom: 0;
}

fieldset h1 {
    font-size: 48px;
    text-align: center;
}

fieldset .volgende-button {
    background-color: #3498DB;
    width: 100%;
    height: 4em;
    border: none;
}

fieldset .progress {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    width: 80vw;
    height: 4em;
    margin: auto;
}

fieldset .progress .stap {
    display: flex;
    background-color: lightgray;
    width: 1em;
    height: 1em;
    border-radius: 100em;
}

fieldset .progress .stap:nth-child(1) {
    background-color: #36A734;
    width: 1.4em;
    height: 1.4em;
}