*, html {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /* Colors */
    --dark-blue: #3E4F66;
    --light-blue: #7FAEC5;
    --turq: #6DC2C9;
    --darker-green: #44b552;
    --green: #4ECD5D;
    --white: #FFFFFF;
    --green-grass: #CAF0CE;
    --yellow-grass: #E4C391;
    --current-grass: var(--yellow-grass);
    --grey: #EDEDED;

    /* Fonts */
    --bree: font-family: 'Bree Serif', serif;
    --open-sans: font-family: 'Open Sans', sans-serif;

    /* Fonts */
    --bree: font-family: 'Bree Serif', serif;
    --open-sans: font-family: 'Open Sans', sans-serif;
    
}

h1 {
    text-align: center;
    margin: 1rem;
    font-family: 'Bree Serif', serif;
    
    font-size: 2.1rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1em 0;
    max-width: 100%;
    align-items:center;
    z-index: 2;
    background-color: #fff;
    padding: 1em;
}

header img {
    width: 50px;
}

/* NAV FOOTER */

nav {
    position: fixed;
    width: 100vw;
    background-color: #fff;
    bottom: 0;
    padding: 1em;
    justify-content: space-between; 
    transition: 1s;
    z-index: 5;
}

nav svg {
    height: 30px;
    stroke: var(--light-blue);
}

nav ul {
    color: #000;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;   
    cursor: pointer; 
}

nav ul li:hover svg {
    stroke: var(--dark-blue);
}

nav ul li a {
    color: var(--light-blue);
    text-decoration: none;
    margin-top: .5em;
}

nav ul li:hover a {
    color: var(--dark-blue);
}

.active a {
    color: var(--dark-blue);
}

.active svg {
    stroke: var(--dark-blue);
}

/* MAIN */

/* main {
    padding: 1em;
} */

.savedMain {
    padding-top: 0;
}

.rainbarrel_visual {
    padding-top: 1rem;
    margin-bottom: 2.5rem;
    background-color: #E2F3F4;
    position: relative;
    padding-bottom: 1.5rem;
}

.rainbarrel_visual_images {
    display: grid;
    justify-items: center;
    overflow: hidden;
}

.rainbarrel_visual_ground {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;  
    overflow: hidden; 
 
}

.rainbarrel_visual_ground::after {
    background:#E2F3F4;
    content: '';
    position: absolute;
    left: 50%;
    bottom: calc(100% - 2rem);
    width: 600%;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translateX(-50%);
}

.rainbarrel_visual_ground::before {
    background: var(--green-grass);
    content: '';
    transition: 1s;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 700%;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translateX(-50%);
}

.green::before {
    background: var(--green-grass);
}

.yellow::before {
    background: var(--yellow-grass);
}

.rainbarrel_visual img:first-child {
    position: relative;
}

.rainbarrel_visual .front_barrel {
    position: absolute;
    bottom: 30px;
    left: 0;
}

.barrel {
    height: 400px;
    width: 250px;
    background-color: #4E5F74;
    position: relative;
    border-radius: 80px;
    overflow: hidden;
    display: flex;
    top: 5px;
}

.water {
    height: 50%;
    width: 100%;
    background-color: #3498DB;
    align-self: flex-end;
    overflow:initial;
    transition: 1.5s;
    transition-timing-function: ease-out;
    position: absolute;
}

.stripes {
    position: absolute;
    height: 100%;
    overflow: hidden;
}

.front {
    position: absolute;
    width: 300%;
    top: -85%;
    margin-left: -100%;
}

.front:nth-of-type(2) {
    top: -60%;
}

.front:nth-of-type(3) {
    top: -35%;
}

.front:nth-of-type(4) {
    top: -10%;
}

.empty {
    height: 50px!important;
}

.water-top {
    width: 100%;
    height: 50px;
    border-radius: 90%;
    background-color: #6dc4ff;
    margin-top: -25px;
}

.top-barrel {
    width: 240px;
    height: 50px;
    border-radius: 90%;
    position: absolute;
    background-color: #4E5F74;
    z-index: 1;
}

.opening {
    height: 10px;
    width: 50px;
    position: absolute;
    background-color: #3E4F66;
    border-radius: 90%;
    left: 30px;
    top: 20px;
}

.tap {
    width: 25px;
    background-color: #3E4F66;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(120px, 230px);
}

.tap-side {
    width: 15px;
    background-color: #3E4F66;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(135px, 215px);
    border-radius: 5px;
}

.tap-tap {
    width: 40px;
    background-color: #3E4F66;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 90% 10px 10px 90%;
    transform: translate(120px, 210px) rotate(0deg);
    transition: .25s;
}

.open-tap {
    transform: translate(120px, 210px) rotate(-20deg);
}

.no-stream {
    transform: translate(137px, 310px)!important;
    height: 0px!important;
}

.water-stream {
    position: absolute;
    height: 0px;
    width: 11px;
    background-color: #3498DB;
    left: 50%;
    top: 50%;
    transform: translate(137px, 250px);
    transition: .25s;
}

.go-stream {
    transform: translate(137px, 250px);
    height: 60px;
}

.rainbarrel_amount {
    display: flex;
    justify-content: center;
}

.rainbarrel_amount ul li:first-child {
    background-color: #E2F3F4;
}

.rainbarrel_amount li {
    padding: .5rem .5rem;
    background-color: white;
    list-style-type: none;
    border-radius: 3rem;
    margin-bottom: 1.5rem;
    font-family: 'Bree Serif', serif;
    font-size: 22px;
    color: #3E4F66;
    text-align: center;
}

.visual_button_legen {
    display: flex;
    justify-content: center;
}

.visual_button_legen ul {
    position: relative;
    margin-bottom: 1rem;
}

.outergraph {
    width: 70%;
    height: 70vh;
    background: #ccc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

#rain-amount {
    background-color: #3498DB;
    /* border-radius: 20px; */
    width: 100%;
    transition: 1s;
}

.innergraph {
    height: calc(70vh / 200 * 180);
}

#rainton section:nth-child(2) {
    margin-top: 1em;
}

#rainton section:nth-child(2) button {
    padding: .7em 2em;
    background: linear-gradient( #4ECD5D, #48BE56);
    border:none;
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: 22px;
    border-radius: 3em;
    z-index: 10;
}



#rainton section:first-child ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

#rainton section:nth-child(2) ul {
    display: flex;

}

/* #rainton section:nth-child(2) ul li {
    padding: 1em 2em;
    text-align: center;
    background-color: #;
    margin: .5em;
    display: flex;
    align-items: center;
    border-radius: 30px;
} */

#rainton section:nth-child(2) ul li a {
    color: #fff;
    text-decoration: none;
}

#rainton section:nth-child(2) ul li:nth-child(1) {
    margin-left: 0;
}

#rainton section:nth-child(2) ul li:nth-child(2) {
    background-color: #3498DB;
    color: #fff;
}

#rainton section:nth-child(2) ul li:nth-child(3) {
    background-color: #ba131a;
    color: #fff;
    margin-right: 0;
}



.saved {
    background-color: green;
    color: #fff;
    width: 100%;
    padding: .5em 1em;
    position: fixed;
    left: 0;
    z-index: -10;
    animation: goUp 1s forwards;
    animation-delay: 3s;
}

/* DOWNLOAD BUTTON */

.add-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background-color: var(--light-blue);
    color: #fff;
    border: none;
    outline: none;
}


/* gegevens */

.stats_h2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 29px;
    color: #3E4F66;
    font-family: 'Bree Serif', serif;
}

.formLabel h2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 29px;
    color: #3E4F66;
    font-family: 'Bree Serif', serif;
}

.settings_visual_button {
    display: flex;
    justify-content: center;
}

.settings {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch; 
}

.formLabel {
    display: flex;
    flex-direction: column;
    margin: 1em .5em;
    align-items: stretch;
    position: relative;
    font-family: 'Bree Serif', serif;
    color: #3E4F66;
    text-align: center;
}


.formLabel span {
    position: absolute;
    bottom: 30px;
    right: 0px;
    font-weight: bold;
}

.formLabel:first-of-type {
    margin-top: 3em;
}

.formLabel img {
    width: 100px;
}

.formLabel label {
    margin-bottom: 5px;
    font-size: 22px;
}

.formLabel input {
    outline: none;
    border: none;
    padding: 1em;
    font-size: 20px;
    background-color: #EDEDED;
    margin: .5em 0;
    width: 80%;
    font-weight: bold;
    color: #3E4F66;
    border-radius: .5rem;
}


.settings button {
    padding: .7em 1em;
    background: linear-gradient( #4ECD5D, #48BE56);
    border:none;
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: 22px;
    border-radius: 3em;
    width: 50%;
}

.popup { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    width: 70vw;
    text-align: center;
    background: rgba(220, 220, 220, .7);
    border-radius: 10px;
}

.popup h3 {
    color: #ba131a;
}

.popup p {
    margin: 1em 0;
}

.popup button {
    width: 50%;
    padding: 1em;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

.popup .around {
    display: flex;
    justify-content: space-between;
}

.around button {
    width: 45%;
}

.around button:nth-child(2) {
    background-color: #ba131a;
    color: #fff;
}

ul {
    list-style-type: none;
}

.hidden {
    right: -70vw;
}

.none {
    display: none;
}

@keyframes goUp {
    from {
    }
    to {
        margin-top: -100px;
    }
}





.onboarding {
    width: 85vw;
    margin: auto;
}

fieldset {
    position: relative;
    border: none;
}

#fieldset1, #fieldset2 {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto;
    align-content: space-between;
}

#fieldset1 .text-button-progress, #fieldset2 .text-button-progress {
    display: grid;
    grid-gap: 1.5em;
}

#fieldset3, #fieldset4, #fieldset5 {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-content: space-between;
}

fieldset h1 {
    color: var(--dark-blue);
    font-family: 'Bree Serif', serif;
    font-size: 3em;
    font-weight: 400;
    text-align: center;
}

fieldset img {
    width: 100vw;
}

fieldset .volgende-button {
    background-color: var(#3498DB);
}

fieldset h2 {
    text-align: left;
    color: var(--dark-blue);
    font-family: 'Bree Serif', serif;
    font-size: 2em;
    font-weight: 400;
}

fieldset label {
    color: var(--dark-blue);
    font-family: var(--open-sans);
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4;
}

fieldset p {
    color: var(--dark-blue);
    font-family: var(--open-sans);
    font-size: 1.2em;
    font-weight: 400;
}

fieldset img {
    width: 100%;
}

fieldset .button-progress {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    grid-gap: 1.5em;
}

fieldset .buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.5em;
}

fieldset .terug-button {
    color: var(--green);
    font-family: 'Bree Serif', serif;
    font-size: 1.4em;
    background-color: var(--white);
    border: solid 2px var(--green);
    border-radius: 20em;
    width: 100%;
    height: 3em;
}

fieldset .volgende-button {
    color: var(--white);
    font-family: 'Bree Serif', serif;
    font-size: 1.4em;
    background: linear-gradient(var(--green), var(--darker-green));
    border: none;
    border-radius: 20em;
    width: 100%;
    height: 3em;
}

fieldset .rondaf-button {
    color: var(--white);
    font-family: 'Bree Serif', serif;
    font-size: 1.4em;
    background: linear-gradient(var(--green), var(--darker-green));
    border: none;
    border-radius: 20em;
    width: 100%;
    height: 3em;
}

fieldset .progress {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    width: 60vw;
    height: 4em;
    margin: auto;
}

fieldset .progress .stap {
    display: flex;
    background-color: #EDEDED;
    width: 0.6em;
    height: 0.6em;
    border-radius: 100em;
}

fieldset .progress .stap:nth-child(1) {
    background-color: #36A734;
    width: 1.2em;
    height: 1.2em;
}

/* Statistieken pagina */
.stats_visual_section {
    background-color:#EDEDED ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

.stats_visual_section h3 {
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    color: #3E4F66;
    padding-bottom: 1rem;
    font-weight: 300;
}

.stats_visual_section p {
    color: #3E4F66;
    font-size: 32px;
    font-family: var(--open-sans);
}

/* ANIMATIONS */

@keyframes grass {
    form {background-color: var(--yellow-grass);}
    to {background-color: var(--green-grass);}
}

.changeGrass::before {
    animation: grass 1s ease-out 1s forwards;
}  

fieldset input {
    font-family: 'Bree Serif', serif;
    width: 100%;
    font-size: 1.4em;
    border-radius: 0.6em;
    border: none;
    margin-top: 0.4em;
    padding: 0.8em;
    background-color: var(--grey);
    color: var(--green);
}

fieldset input:focus {
    border: none;
    outline: none;
}

label[for=boardingDak], label[for=boardingPijpen], label[for=boardingTonnen] {
    font-family: 'Bree Serif', serif;
    font-size: 1.4em;
}



#fieldset2, #fieldset3, #fieldset4, #fieldset5 {
    display: none;
}



.stap {
    display: flex;
    background-color: #EDEDED;
    width: 0.6em;
    height: 0.6em;
    border-radius: 100em;
}

.stap.current {
    background-color: #36A734;
    width: 1.2em;
    height: 1.2em;
}



.error-message {
    color: red;
    font-family: 'Bree Serif', serif;
    font-size: 1.4em;
}





/* Statistieken pagina */

.stats_visual_section {
    background-color:#EDEDED ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

.stats_visual_section h3 {
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    color: #3E4F66;
    padding-bottom: 1rem;
    font-weight: 300;
}

.stats_visual_section p {
    color: #3E4F66;
    font-size: 32px;
    font-family: var(--open-sans);
}





/* Regen */

.rain-animatie .rain {
    height: 1em;
    width: 0.2em;
    background-color: var(--light-blue);
}

.notification_svg {
    position: absolute;
    top: 0;
    right:0;
    width: 40px;
    height: 40px;
    margin: .5rem;
    background-color: transparent;
}

.notification_svg svg {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.notification_svg::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: red;
    display: block;
    position: absolute;
    left:0;
    bottom: 0;
    border-radius: 50%;
}
